<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MUSCLE BUILDING</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">
  <style>
    /* NAVBAR CSS */
    body {
      font-family: 'Mukta', sans-serif;
    }

    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .show>.nav-link {
      color: rgb(44 212 212);
    }

    .box1 {
      font-size: large;
      padding-right: 1.2rem !important;
    }

    .box1:hover {
      color: rgb(44 212 212) !important;
    }

    .box2 {
      font-size: xx-large;
      margin-right: 4rem !important;
    }

    .btn {
      line-height: 2.5 !important;
    }

    .btn-group-sm>.btn,
    .btn-sm {
      padding: .1rem 1rem;
      font-size: 1.1rem;
      border-radius: .5rem;
    }

    .btn-sign {
      padding: .1rem .6rem;
      font-size: 1.1rem;
      border-radius: .5rem;
      color: white;
    }

    /* 3RD STEP */
    .imgmod {
      height: 500px;
      width: 70%;
    }

    /* 4TH STEP */
    .tb {
      width: 60%;
      margin: 0 auto;
    }

    /* 5TH STEP */
    .contwork {
      width: 53%;
    }

    /* FOOTER */
    .footer {
      height: 70px;
      background-color: rgb(44 212 212);
    }

    .footer p {
      line-height: 3;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand box2 brand" href="#">FITNESSCLUB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link  box1" href="/index">HOME</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link box1 box1" aria-current="page" href="/diet">DIET</a>
          </li>
          <li class="nav-item">
            <a class="nav-link box1 box1" href="/clients">CLIENTS</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link box1 active" aria-current="page">WORKOUT SCHEDULE</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link box1" href="/contactus">CONTACT US</a>
          </li>
        </ul>
        <button type="button" class="btn btn-secondary btn-sm me-2">GET STARTED</button>
        <button type="button" class="btn btn-info btn-sign">SIGN IN</button>
      </div>
    </div>
  </nav>

  <!-- 2ND STEP -->
  <div class="container-fluid text-center mt-4 bolder fw-bold">
    <h1>10 WEEK MASS BUILDING PROGRAM</h1>
  </div>

  <!-- 3RD STEP -->
  <div class="container-fluid" style="height: 500px;">
    <div class="row" style="justify-content: center;">
      <img src="/static/images/16.jpg" alt="Error" class="bg-image img-fluid float-end img-modf imgmod">
    </div>
  </div>

  <!-- 4TH STEP -->
  <div class="container">
    <h3 class="text-center mt-5 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">WORKOUT SUMMARY</h3>
    <table class="table tb mt-3">
      <tbody>
        <tr class="table-success">
          <!-- <th scope="row">1</th> -->
          <td>Main Goal</td>
          <td>Build Muscle</td>
        </tr>
        <tr class="table-secondary">
          <!-- <th scope="row">2</th> -->
          <td>Workout Type</td>
          <td>Split</td>
        </tr>
        <tr class="table-success">
          <!-- <th scope="row">3</th> -->
          <td>Training Level</td>
          <td>Advanced</td>
        </tr>
        <tr class="table-secondary">
          <!-- <th scope="row">3</th> -->
          <td>Program Duration</td>
          <td>10 Weeks</td>
        </tr>
        <tr class="table-success">
          <!-- <th scope="row">3</th> -->
          <td>Days Per Week</td>
          <td>4</td>
        </tr>
        <tr class="table-secondary">
          <!-- <th scope="row">3</th> -->
          <td>Time Per Workout</td>
          <td>50 minutes</td>
        </tr>
        <tr class="table-success">
          <!-- <th scope="row">3</th> -->
          <td>Equipment Required</td>
          <td>Barbell,Bodyweight,Dumbbells,Machines</td>
        </tr>
        <tr class="table-secondary">
          <!-- <th scope="row">3</th> -->
          <td>Target Gender</td>
          <td>Male</td>
        </tr>
        <tr class="table-success">
          <!-- <th scope="row">3</th> -->
          <td>Recommended Supps</td>
          <td>Whey Protein,Creatine Monohydrate,Essential Fats,Multivitamins,Weight Gainer(Optional)</td>
        </tr>
        <tr class="table-secondary">
          <!-- <th scope="row">3</th> -->
          <td>Workout PDF</td>
          <td>Download Workout</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 5TH STEP -->
  <div class="container mt-4 contwork">
    <h1 class="text-center mt-5 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">WORKOUT DESCRIPTION</h1>
    <p class="fs-5">This workout is designed to increase your muscle mass as much as possible in 10 weeks. The program
      works each muscle group hard once per week using mostly heavy compound exercises. You will train on a 4 day split
      routine, resting on Wednesdays and the weekends. To get the most out of this program you need to be eating BIG.
      Big meals, at least 5 times a day.</p>


    <h1 class="text-center mt-5 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">MONDAY : CHEST AND TRICEPS</h1>
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Exercise</th>
          <th scope="col">Sets</th>
          <th scope="col">Reps</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <th scope="row">Barbell Bench Press</th>
          <td>4</td>
          <td>10,8,8,6</td>
        </tr>
        <tr>
          <th scope="row">Incline Bench Press</th>
          <td>3</td>
          <td>8,8,6</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Decline Bench Press</th>
          <td>3</td>
          <td>8,8,6</td>
        </tr>
        <tr>
          <th scope="row">Dumbbell Flys</th>
          <td>2</td>
          <td>10</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Dumbbell Pullover</th>
          <td>2</td>
          <td>8</td>
        </tr>
        <tr>
          <th scope="row">Tricep Extension</th>
          <td>4</td>
          <td>10,8,8,6 adding weight</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Tricep Dip</th>
          <td>3</td>
          <td>10</td>
        </tr>
        <tr>
          <th scope="row">Tricep Bench Dip</th>
          <td>3</td>
          <td>8</td>
        </tr>
      </tbody>
    </table>


    <h1 class="text-center mt-5 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">TUESDAY : BACK AND BICEPS</h1>
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Exercise</th>
          <th scope="col">Sets</th>
          <th scope="col">Reps</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <th scope="row">Deadlift</th>
          <td>5</td>
          <td>10,8,8,6,4</td>
        </tr>
        <tr>
          <th scope="row">Chin Up</th>
          <td>2</td>
          <td>8</td>
        </tr>
        <tr class="table-info">
          <th scope="row">One Arm Dumbbell Row</th>
          <td>3</td>
          <td>8</td>
        </tr>
        <tr>
          <th scope="row">Seated Row</th>
          <td>2</td>
          <td>8</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Close Grip Lat Pull Down</th>
          <td>3</td>
          <td>10,10,8</td>
        </tr>
        <tr>
          <th scope="row">Standing Barbell Curl</th>
          <td>3</td>
          <td>8,8,6</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Close Grip Preacher Curl</th>
          <td>3</td>
          <td>8,8,6</td>
        </tr>
        <tr>
          <th scope="row">Incline Dumbbell Curl</th>
          <td>2</td>
          <td>12-14</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Concentration Curl</th>
          <td>2</td>
          <td>10</td>
        </tr>
      </tbody>
    </table>

    <h1 class="text-center mt-5 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">WEDNESDAY : REST DAY/CARDIO</h1>
    <h1 class="text-center mt-2 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">THURSDAY : SHOULDERS AND FOREARMS
    </h1>
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Exercise</th>
          <th scope="col">Sets</th>
          <th scope="col">Reps</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <th scope="row">Machine Shoulder Press</th>
          <td>3</td>
          <td>10</td>
        </tr>
        <tr>
          <th scope="row">Dumbbell Reverse Fly</th>
          <td>3</td>
          <td>8-10</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Military Press</th>
          <td>4</td>
          <td>10</td>
        </tr>
        <tr>
          <th scope="row">Dumbbell Lateral Raise</th>
          <td>2</td>
          <td>10</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Dumbbell Shrugs</th>
          <td>2</td>
          <td>10</td>
        </tr>
        <tr>
          <th scope="row">Upright Row</th>
          <td>2</td>
          <td>10</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Standing Wrist Curl</th>
          <td>4</td>
          <td>10</td>
        </tr>
        <tr>
          <th scope="row">Barbell Wrist Curl</th>
          <td>4</td>
          <td>10</td>
        </tr>
      </tbody>
    </table>
    <p class="fs-5">Note: Dumbbell shrugs and upright row can be supersetted.</p>

    <h1 class="text-center mt-5 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">FRIDAY : LEGS</h1>
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Exercise</th>
          <th scope="col">Sets</th>
          <th scope="col">Reps</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <th scope="row">Squat</th>
          <td>5</td>
          <td>10,8,8,6,4</td>
        </tr>
        <tr>
          <th scope="row">Leg Extension</th>
          <td>3</td>
          <td>12</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Leg Curl</th>
          <td>3</td>
          <td>12</td>
        </tr>
        <tr>
          <th scope="row">calves</th>
          <td></td>
          <td></td>
        </tr>
        <thead>
          <tr class="table-dark">
            <th scope="col">Exercise</th>
            <th scope="col">Sets</th>
            <th scope="col">Reps</th>
          </tr>
        </thead>
        <tr>
          <th scope="row">Standing Calf raise</th>
          <td>4</td>
          <td>12</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Seated Calf Raise</th>
          <td>2</td>
          <td>12</td>
        </tr>
        <tr>
          <th scope="row">Barbell Wrist Curl</th>
          <td>4</td>
          <td>10</td>
        </tr>
      </tbody>
    </table>

    <h1 class="text-center mt-3 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">WEEKEND : REST</h1>
  </div>

  <!-- FOOTER -->
  <div class="conatiner-fliud footer">
    <p class="text-center fs-4 fw-bold">| Copyright © 2022 fitnessclub.com | All right reserved</p>
  </div>
</body>

</html>