<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout For Men</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">
  <style>
    /* NAVBAR CSS */
    body {
      font-family: 'Mukta', sans-serif;
    }

    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .show>.nav-link {
      color: rgb(44 212 212);
    }

    .box1 {
      font-size: large;
      padding-right: 1.2rem !important;
    }

    .box1:hover {
      color: rgb(44 212 212) !important;
    }

    .box2 {
      font-size: xx-large;
      margin-right: 4rem !important;
    }

    .btn {
      line-height: 2.5 !important;
    }

    .btn-group-sm>.btn,
    .btn-sm {
      padding: .1rem 1rem;
      font-size: 1.1rem;
      border-radius: .5rem;
    }

    .btn-sign {
      padding: .1rem .6rem;
      font-size: 1.1rem;
      border-radius: .5rem;
      color: white;
    }

    /* 3RD STEP */
    .imgmod {
      height: 400px;
      width: 65%;
    }

    /* 4TH STEP */
    .tb {
      width: 60%;
      margin: 0 auto;
    }

    /* 5TH STEP */
    .contwork {
      width: 53%;
    }


    /* FOOTER */
    .footer {
      height: 70px;
      background-color: rgb(44 212 212);
    }

    .footer p {
      line-height: 3;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand box2 brand" href="#">FITNESSCLUB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link  box1" href="/index">HOME</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link box1 box1" aria-current="page" href="/diet">DIET</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link box1 box1" href="/clients">CLIENTS</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link box1 active" aria-current="page">WORKOUT SCHEDULE</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link box1" href="/contactus">CONTACT US</a>
          </li>
        </ul>
        <!-- <button type="button" class="btn btn-secondary btn-sm me-2">GET STARTED</button>
                <button type="button" class="btn btn-info btn-sign">SIGN IN</button> -->
      </div>
    </div>
  </nav>

  <!-- 2ND STEP -->
  <div class="container-fluid text-center mt-4 bolder fw-bold">
    <h1>8 WEEK MASS BUILDING HYPERTROPHY WORKOUT</h1>
  </div>

  <!-- 3RD STEP -->
  <div class="container-fluid" style="height: 400px;">
    <div class="row" style="justify-content: center;">
      <img src="/static/images/12.jpg" alt="Error" class="bg-image img-fluid float-end img-modf imgmod">
    </div>
  </div>
  <!-- 4TH STEP -->
  <div class="container">
    <h3 class="text-center mt-5 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">WORKOUT SUMMARY</h3>
    <table class="table tb mt-3">
      <tbody>
        <tr class="table-success">
          <!-- <th scope="row">1</th> -->
          <td>Main Goal</td>
          <td>Build Muscle</td>
        </tr>
        <tr class="table-secondary">
          <!-- <th scope="row">2</th> -->
          <td>Workout Type</td>
          <td>Split</td>
        </tr>
        <tr class="table-success">
          <!-- <th scope="row">3</th> -->
          <td>Training Level</td>
          <td>Intermediate</td>
        </tr>
        <tr class="table-secondary">
          <!-- <th scope="row">3</th> -->
          <td>Program Duration</td>
          <td>8 Weeks</td>
        </tr>
        <tr class="table-success">
          <!-- <th scope="row">3</th> -->
          <td>Days Per Week</td>
          <td>4</td>
        </tr>
        <tr class="table-secondary">
          <!-- <th scope="row">3</th> -->
          <td>Equipment Required</td>
          <td>Barbell,Bodyweight,Cables,Dumbbells,Machines</td>
        </tr>
        <tr class="table-success">
          <!-- <th scope="row">3</th> -->
          <td>Target Gender</td>
          <td>Male & Female</td>
        </tr>
        <tr class="table-secondary">
          <!-- <th scope="row">3</th> -->
          <td>Recommended Supps</td>
          <td>Protein,Multivitamins,BCAAs</td>
        </tr>
        <tr class="table-success">
          <!-- <th scope="row">3</th> -->
          <td>Workout PDF</td>
          <td>Download Workout</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 5TH STEP -->
  <div class="container mt-4 contwork">
    <h1 class="text-center mt-5 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">THE WORKOUTS</h1>
    <p class="fs-5">Now let’s talk about the training. This is a four-day routine. You will perform each workout once a
      week. The optimal way to do this would be by following this split:</p>
    <ul>
      <li class="fs-5">Monday – Chest and Side Delts</li>
      <li class="fs-5">Tuesday – Upper Back and Rear Delts</li>
      <li class="fs-5">Wednesday – Off</li>
      <li class="fs-5">Thursday – Arms and Abs</li>
      <li class="fs-5">Friday – Legs</li>
      <li class="fs-5">Saturday and Sunday – Off</li>
    </ul>
    <p class="fs-5">
      That would be the best split, but let’s face facts. There are a lot of you that have jobs that don’t allow this to
      happen, so here’s what you need to know. Do these workouts at times that best suit you. The only rule I suggest
      you follow is that you don’t train for more than three days in a row before taking a day off. Two would be best,
      but if you must train a third consecutive day, go for it. I don’t suggest you do this normally. The recovery is
      vital for you to grow. Training four days in a row without the extra rest may affect the results you see from
      this.
    </p>
    <h1 class="text-center mt-5 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">WORKOUT 1 : CHEST AND SIDE DELTS
    </h1>

    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Exercise</th>
          <th scope="col">Sets</th>
          <th scope="col">Reps</th>
          <th scope="col">Rest</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <th scope="row">Incline Barbell Bench Press</th>
          <td>3</td>
          <td>12, 10, 12*</td>
          <td>90 sec</td>
        </tr>
        <tr>
          <th scope="row">Flat Dumbbell Bench Press</th>
          <td>3</td>
          <td>12, 10, 15+</td>
          <td>90 sec</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Cable Crossover</th>
          <td>3</td>
          <td>12, 12, 12^</td>
          <td>90 sec</td>
        </tr>
        <tr>
          <th scope="row">Seated Lateral Raise</th>
          <td>3</td>
          <td>12, 12, 12</td>
          <td>90 sec</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Single Arm Cable Lateral Raise</th>
          <td>3</td>
          <td>12, 12, 12</td>
          <td>90 sec</td>
        </tr>
      </tbody>
    </table>
    <p class="fs-5">* Rest-Pause Set</p>
    <p class="fs-5">+ Drop Set</p>
    <p class="fs-5">^ 3-5 Second Negatives</p>


    <h1 class="text-center mt-5 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">WORKOUT 2 : UPPER BACK AND REAR
      DELTS</h1>

    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Exercise</th>
          <th scope="col">Sets</th>
          <th scope="col">Reps</th>
          <th scope="col">Rest</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <th scope="row">Bent-Over Barbell Row</th>
          <td>3</td>
          <td>12, 10, 12*</td>
          <td>90 sec</td>
        </tr>
        <tr>
          <th scope="row">Dumbbell Pullover</th>
          <td>3</td>
          <td>12, 10, 15+</td>
          <td>90 sec</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Wide Grip Lat Pulldown</th>
          <td>3</td>
          <td>12, 12, 12^</td>
          <td>90 sec</td>
        </tr>
        <tr>
          <th scope="row">Dumbbell Rear Delt Fly</th>
          <td>3</td>
          <td>12, 12, 12</td>
          <td>90 sec</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Cable Face Pull</th>
          <td>3</td>
          <td>12, 12, 12</td>
          <td>90 sec</td>
        </tr>
        <tr>
          <th scope="row">Dumbbell Shrug</th>
          <td>3</td>
          <td>12, 12, 12</td>
          <td>90 sec</td>
        </tr>
      </tbody>
    </table>
    <p class="fs-5">* Rest-Pause Set</p>
    <p class="fs-5">+ Drop Set</p>
    <p class="fs-5">^ 3-5 Second Negatives</p>


    <h1 class="text-center mt-5 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">WORKOUT 3 : ARMS AND ABS</h1>

    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Exercise</th>
          <th scope="col">Sets</th>
          <th scope="col">Reps</th>
          <th scope="col">Rest</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <th scope="row">Close Grip Bench Press</th>
          <td>3</td>
          <td>12, 10, 12*</td>
          <td>90 sec</td>
        </tr>
        <tr>
          <th scope="row">Weighted Dip</th>
          <td>3</td>
          <td>12, 10, 12+</td>
          <td>90 sec</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Rope Tricep Extension</th>
          <td>3</td>
          <td>12, 12, 12^</td>
          <td>90 sec</td>
        </tr>
        <tr>
          <th scope="row">Lying Leg Raise</th>
          <td>3</td>
          <td>12, 12, 12</td>
          <td>90 sec</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Cable Crunch</th>
          <td>3</td>
          <td>12, 12, 12</td>
          <td>90 sec</td>
        </tr>
        <tr>
          <th scope="row">Barbell Curl</th>
          <td>3</td>
          <td>12, 12, 12*</td>
          <td>90 sec</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Hammer Curl</th>
          <td>3</td>
          <td>12, 10, 12+</td>
          <td>90 sec</td>
        </tr>
        <tr>
          <th scope="row">Cable Curl</th>
          <td>3</td>
          <td>12, 12, 12^</td>
          <td>90 sec</td>
        </tr>
      </tbody>
    </table>
    <p class="fs-5">* Rest-Pause Set</p>
    <p class="fs-5">+ Drop Set</p>
    <p class="fs-5">^ 3-5 Second Negatives</p>



    <h1 class="text-center mt-5 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">WORKOUT 4 : LEGS</h1>

    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Exercise</th>
          <th scope="col">Sets</th>
          <th scope="col">Reps</th>
          <th scope="col">Rest</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <th scope="row">Deadlift</th>
          <td>3</td>
          <td>12, 10, 12*</td>
          <td>90 sec</td>
        </tr>
        <tr>
          <th scope="row">Lying Leg Curl</th>
          <td>3</td>
          <td>12, 10, 12+</td>
          <td>90 sec</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Walking Lunge</th>
          <td>3</td>
          <td>12, 12, 12</td>
          <td>90 sec</td>
        </tr>
        <tr>
          <th scope="row">Front Squat</th>
          <td>3</td>
          <td>12, 12, 12*</td>
          <td>90 sec</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Leg Extension</th>
          <td>3</td>
          <td>12, 12, 12+</td>
          <td>90 sec</td>
        </tr>
        <tr>
          <th scope="row">Dumbbell Side Lunge</th>
          <td>3</td>
          <td>12, 12, 12</td>
          <td>90 sec</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Seated Calf Raise</th>
          <td>3</td>
          <td>12, 12, 12^</td>
          <td>90 sec</td>
        </tr>
        <tr>
          <th scope="row">Calf Press</th>
          <td>3</td>
          <td>12, 12, 12^</td>
          <td>90 sec</td>
        </tr>
      </tbody>
    </table>
    <p class="fs-5">* Rest-Pause Set</p>
    <p class="fs-5">+ Drop Set</p>
    <p class="fs-5">^ 3-5 Second Negatives</p>
  </div>

  <!-- FOOTER -->
  <div class="conatiner-fliud footer">
    <p class="text-center fs-4 fw-bold">| Copyright © 2022 fitnessclub.com | All right reserved</p>
  </div>
</body>

</html>