<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WORKOUT FOR WOMEN</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">
  <style>
    /* NAVBAR CSS */
    body {
      font-family: 'Mukta', sans-serif;
    }

    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .show>.nav-link {
      color: rgb(44 212 212);
    }

    .box1 {
      font-size: large;
      padding-right: 1.2rem !important;
    }

    .box1:hover {
      color: rgb(44 212 212) !important;
    }

    .box2 {
      font-size: xx-large;
      margin-right: 4rem !important;
    }

    .btn {
      line-height: 2.5 !important;
    }

    .btn-group-sm>.btn,
    .btn-sm {
      padding: .1rem 1rem;
      font-size: 1.1rem;
      border-radius: .5rem;
    }

    .btn-sign {
      padding: .1rem .6rem;
      font-size: 1.1rem;
      border-radius: .5rem;
      color: white;
    }

    /* 3RD STEP */
    .imgmod {
      height: 500px;
      width: 70%;
    }

    /* 4TH STEP */
    .tb {
      width: 60%;
      margin: 0 auto;
    }

    /* 5TH STEP */
    .contwork {
      width: 53%;
    }

    /* FOOTER */
    .footer {
      height: 70px;
      background-color: rgb(44 212 212);
    }

    .footer p {
      line-height: 3;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand box2 brand" href="#">FITNESSCLUB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link  box1" href="/index">HOME</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link box1 box1" aria-current="page" href="/diet">DIET</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link box1 box1" href="/clients">CLIENTS</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link box1 active" aria-current="page">WORKOUT SCHEDULE</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link box1" href="/contactus">CONTACT US</a>
          </li>
        </ul>
        <button type="button" class="btn btn-secondary btn-sm me-2">GET STARTED</button>
        <button type="button" class="btn btn-info btn-sign">SIGN IN</button>
      </div>
    </div>
  </nav>

  <!-- 2ND STEP -->
  <div class="container-fluid text-center mt-4 bolder fw-bold">
    <h1>THE BEST FULL BODY WORKOUT ROUTINE FOR WOMEN</h1>
  </div>

  <!-- 3RD STEP -->
  <div class="container-fluid" style="height: 500px;">
    <div class="row" style="justify-content: center;">
      <img src="/static/images/18.jpg" alt="Error" class="bg-image img-fluid float-end img-modf imgmod">
    </div>
  </div>

  <!-- 4TH STEP -->
  <div class="container">
    <h3 class="text-center mt-5 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">WORKOUT SUMMARY</h3>
    <table class="table tb mt-3">
      <tbody>
        <tr class="table-success">
          <!-- <th scope="row">1</th> -->
          <td>Main Goal</td>
          <td>Build Muscle</td>
        </tr>
        <tr class="table-secondary">
          <!-- <th scope="row">2</th> -->
          <td>Workout Type</td>
          <td>Full Body</td>
        </tr>
        <tr class="table-success">
          <!-- <th scope="row">3</th> -->
          <td>Training Level</td>
          <td>Beginner</td>
        </tr>
        <tr class="table-secondary">
          <!-- <th scope="row">3</th> -->
          <td>Program Duration</td>
          <td>10 Weeks</td>
        </tr>
        <tr class="table-success">
          <!-- <th scope="row">3</th> -->
          <td>Days Per Week</td>
          <td>4</td>
        </tr>
        <tr class="table-secondary">
          <!-- <th scope="row">3</th> -->
          <td>Time Per Workout</td>
          <td>60-90 minutes</td>
        </tr>
        <tr class="table-success">
          <!-- <th scope="row">3</th> -->
          <td>Equipment Required</td>
          <td>Bands,Barbell,Bodyweight,Cables,Dumbbells,EZ Bar,Exercise Ball,Machines</td>
        </tr>
        <tr class="table-secondary">
          <!-- <th scope="row">3</th> -->
          <td>Target Gender</td>
          <td>Male & Female</td>
        </tr>
        <tr class="table-success">
          <!-- <th scope="row">3</th> -->
          <td>Recommended Supps</td>
          <td>Protein,Multivitamins,PreWorkout</td>
        </tr>
        <tr class="table-secondary">
          <!-- <th scope="row">3</th> -->
          <td>Workout PDF</td>
          <td>Download Workout</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 5TH STEP -->
  <div class="container mt-4 contwork">
    <h1 class="text-center mt-5 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">FULL BODY WORKOUTS FOR WOMEN</h1>
    <p class="fs-5">Outlined below are 4 full body workouts perfect for women looking to build lean muscle, lose fat,
      and increase strength.</p>
    <p class="fs-5">As written, the program can be performed in an every other day fashion where you rotate the workouts
      each day you go to the gym.</p>
    <p class="fs-5">Alternatively, you can perform the workouts on Monday, Tuesday, Thursday, and Friday (or in a 2 days
      on/1 day off fashion).</p>
    <p class="fs-5">Each workout is broken up into a primary workout. These are the exercises that are necessary to
      perform on that training day. For your rest periods, you’ll want to rest anywhere between 45-90 seconds. For
      larger lifts, such as squats, you may want to take the full 90 seconds.</p>
    <p class="fs-5">After the primary workout on each day is an additional optional workout you can perform immediately
      after your primary full body workout. These additional workouts isolate the glutes, core, and arms. For your rest
      periods with these exercises, limit them to 30 seconds.</p>
    <p class="fs-5">The reason for the two glute isolation workouts is due to the common goal among women to grow their
      glutes. This is best achieved through training the glutes at least 4 times per week, with two of the glute
      workouts being isolated-focus with higher repetitions.</p>
    <p class="fs-5">Any of these additional bonus workouts can be altered in any way that best fits your own individual
      goals.</p>

    <h1 class="text-center mt-5 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">WORKOUT 1 : WOMEN'S FULL BODY
      WORKOUT</h1>
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Exercise</th>
          <th scope="col">Sets</th>
          <th scope="col">Reps</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <th scope="row">Squat</th>
          <td>4</td>
          <td>6-8</td>
        </tr>
        <tr>
          <th scope="row">Leg Press</th>
          <td>3</td>
          <td>10-15</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Rear Foot Elevated Split Squat</th>
          <td>3</td>
          <td>8-12 Each</td>
        </tr>
        <tr>
          <th scope="row">Overhead Press</th>
          <td>3</td>
          <td>8</td>
        </tr>
        <tr class="table-info">
          <th scope="row">One Arm Dumbbell Row</th>
          <td>4</td>
          <td>6-8</td>
        </tr>
        <tr>
          <th scope="row">Lat Pull Down</th>
          <td>3</td>
          <td>8-12</td>
        </tr>
      </tbody>
    </table>

    <h4 class="text-center mt-2  fw-bold " style="color: rgb(44 212 212);">OPITONAL ADDITIONAL EXERCISES 1</h4>
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Exercise</th>
          <th scope="col">Sets</th>
          <th scope="col">Reps</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <th scope="row">Hyperextension</th>
          <td>3</td>
          <td>15-20</td>
        </tr>
        <tr>
          <th scope="row">Single Leg Glute Bridge</th>
          <td>3</td>
          <td>10-15 Each</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Mini Band Hip Thruster</th>
          <td>3</td>
          <td>15</td>
        </tr>
      </tbody>
    </table>

    <h1 class="text-center mt-5 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">WORKOUT 2 : WOMEN'S FULL BODY
      WORKOUT</h1>
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Exercise</th>
          <th scope="col">Sets</th>
          <th scope="col">Reps</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <th scope="row">Goblet Squat</th>
          <td>3</td>
          <td>12-15</td>
        </tr>
        <tr>
          <th scope="row">Dumbbell Stiff Legged Deadlift</th>
          <td>3</td>
          <td>10-12</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Lateral Lunge</th>
          <td>3</td>
          <td>12 Each</td>
        </tr>
        <tr>
          <th scope="row">Dumbbell Bench Press</th>
          <td>3</td>
          <td>8-10</td>
        </tr>
        <tr class="table-info">
          <th scope="row">(Assisted) Pull Up</th>
          <td>3</td>
          <td>Max</td>
        </tr>
        <tr>
          <th scope="row">Inverted Row</th>
          <td>3</td>
          <td>Max</td>
        </tr>
      </tbody>
    </table>

    <h4 class="text-center mt-2  fw-bold " style="color: rgb(44 212 212);">OPITONAL ADDITIONAL EXERCISES 2</h4>
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Exercise</th>
          <th scope="col">Sets</th>
          <th scope="col">Reps</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <th scope="row">Dumbbell Curl</th>
          <td>3</td>
          <td>12</td>
        </tr>
        <tr>
          <th scope="row">Rope Pressdown</th>
          <td>3</td>
          <td>12</td>
        </tr>
        <tr class="table-info">
          <th scope="row">EZ Bar Curl</th>
          <td>3</td>
          <td>12</td>
        </tr>
        <tr>
          <th scope="row">EZ Bar Overhead Extension</th>
          <td>3</td>
          <td>12</td>
        </tr>
      </tbody>
    </table>


    <h1 class="text-center mt-5 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">WORKOUT 3 : WOMEN'S FULL BODY
      WORKOUT</h1>
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Exercise</th>
          <th scope="col">Sets</th>
          <th scope="col">Reps</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <th scope="row">Sumo Deadlift</th>
          <td>4</td>
          <td>6-8</td>
        </tr>
        <tr>
          <th scope="row">Hip Thrust</th>
          <td>4</td>
          <td>6-8</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Barbell Row</th>
          <td>4</td>
          <td>6-8</td>
        </tr>
        <tr>
          <th scope="row">Seated Dumbbell Press</th>
          <td>3</td>
          <td>8-12</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Lateral Raise</th>
          <td>3</td>
          <td>10-12</td>
        </tr>
        <tr>
          <th scope="row">Push Up</th>
          <td>3</td>
          <td>Max</td>
        </tr>
      </tbody>
    </table>

    <h4 class="text-center mt-2  fw-bold " style="color: rgb(44 212 212);">OPITONAL ADDITIONAL EXERCISES 3</h4>
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Exercise</th>
          <th scope="col">Sets</th>
          <th scope="col">Reps</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <th scope="row">Plank</th>
          <td>3</td>
          <td>Max Time</td>
        </tr>
        <tr>
          <th scope="row">Exercise Ball Crunch</th>
          <td>3</td>
          <td>20</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Hanging Leg Raise</th>
          <td>3</td>
          <td>12-15</td>
        </tr>
      </tbody>
    </table>


    <h1 class="text-center mt-5 fs-2 fw-bold reg-head" style="color: rgb(44 212 212);">WORKOUT 4 : WOMEN'S FULL BODY
      WORKOUT</h1>
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Exercise</th>
          <th scope="col">Sets</th>
          <th scope="col">Reps</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <th scope="row">Plie Squat</th>
          <td>3</td>
          <td>12-15</td>
        </tr>
        <tr>
          <th scope="row">Dumbbell Rear Lunge</th>
          <td>3</td>
          <td>12-15</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Landmine Romanian Deadlift</th>
          <td>3</td>
          <td>12-15</td>
        </tr>
        <tr>
          <th scope="row">T-Bar Row</th>
          <td>4</td>
          <td>8-12</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Incline Dumbbell Bench Press</th>
          <td>3</td>
          <td>12-15</td>
        </tr>
        <tr>
          <th scope="row">Cable Face Pull</th>
          <td>3</td>
          <td>15-20</td>
        </tr>
      </tbody>
    </table>

    <h4 class="text-center mt-2  fw-bold " style="color: rgb(44 212 212);">OPITONAL ADDITIONAL EXERCISES 4</h4>
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Exercise</th>
          <th scope="col">Sets</th>
          <th scope="col">Reps</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <th scope="row">Frog Pumps</th>
          <td>3</td>
          <td>20-25</td>
        </tr>
        <tr>
          <th scope="row">Glute Kick Back</th>
          <td>3</td>
          <td>15 Each</td>
        </tr>
        <tr class="table-info">
          <th scope="row">Adduction Machine (or Banded)</th>
          <td>3</td>
          <td>12</td>
        </tr>
        <tr>
          <th scope="row">Abduction Machine (or Banded)</th>
          <td>3</td>
          <td>12</td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- FOOTER -->
  <div class="conatiner-fliud footer">
    <p class="text-center fs-4 fw-bold">| Copyright © 2022 fitnessclub.com | All right reserved</p>
  </div>
</body>

</html>